.flashcard {
  /* layout and positioning */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-block: 1rem;

  /* notebook "paper" effect */
  background-color: rgba(171, 168, 16, 0.697);
  border-radius: 1rem;
  text-shadow: #494f5c34 0.1em 0.1em 0.1em;

  /* lined grid effect */
  background-image: linear-gradient(90deg, #4f5f6230 0.1em, transparent 0.1em),
    linear-gradient(#4f5f6230 0.1em, transparent 0.1em);
  background-size: 1rem 1rem;
}

.flashcard:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  background: radial-gradient(#494f5c 6px, transparent 7px) repeat-y;
  background-size: 30px 30px;
  box-sizing: border-box;
}

.notepad-line {
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  left: 2rem;
}

.flashcard__front {
  background: transparent;
  border: 0;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-inline: 4rem;
  font-size: 1.25em;
  text-shadow: #494f5c34 0.1em 0.1em 0.1em;
  transition: 0.2s;
  cursor: pointer;
}

.flashcard__front:hover {
  text-shadow: #494f5c 0.1em 0.1em 0.1em;
  transform: scale(1.05);
  transition: 0.2s;
}

.flashcard__back {
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  padding-inline: 4rem;
  align-self: start;
  filter: blur(5px) opacity(0.5);
  transition: 0.2s;
}

.unblur {
  filter: blur(0px) opacity(1);
  transition: 0.3s;
}
